* {
    box-sizing: border-box;
}

body {
    background-color: #cac7e5;
}

#flex {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

nav {
    border: 2px solid green;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: flex;
    flex-basis: 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #cac7e5;
    border: 2px solid goldenrod;
    align-items: center;
    gap: 20px;
    padding: 20px 0 20px 0;
}

aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: crimson;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
}

#logo {
    display: flex;
    align-items: center;
    gap: 20px
}

#logo_foto {
    border-radius: 50%;
}







@media (min-width: 768px) {
    #flex {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav {
        flex-basis: 100%
    }
    nav ul {
        flex-wrap: nowrap;

    }

    nav ul li {
        padding: 20px 0 20px 0;
    }

    section {
        flex-basis: 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 20px 50px;
        gap: 20px;

    }

    aside {
        flex-basis: 30%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px;

    }



}


@media (min-width: 1024px) {
    section {
        flex-basis: 80%;
    }

    aside {
        flex-basis: 20%;
    }

}